<div class="row">
  <div class='col-md-8 col-sm-12 col-md-offset-2'>
    <%= simple_form_for @complaint do |f| %>
      <%= f.error_notification %>
      <%= f.input :user_email %>
      <%= f.input :content %>
      <div class="text-center">
        <%= f.submit 'Submit', class: 'btn btn-primary' %>
      </div>
    <% end %>
  </div>
</div>
