<%= link_to 'New Complaint', new_complaint_path, class: 'btn btn-primary pull-right' %>

<div class="all-complaints">
  <h2>Listing Complaints</h2>

  <table>
    <thead>
      <tr>
        <th>S.No</th>
        <th width="70%">Content</th>
        <th>Email</th>
        <th> Action</th>
      </tr>
    </thead>

    <tbody>
      <% @complaints.each_with_index do |complaint,index| %>
        <tr>
          <td><%= index+1 %></td>
          <td><%= complaint.content.capitalize.truncate(300) %></td>
          <td><%= complaint.user_email %></td>
          <td>
            <%= link_to fa_icon_for('show'), complaint %> |             
            <%= link_to fa_icon_for('edit'), edit_complaint_path(complaint) %> |
            <%= link_to fa_icon_for('delete'), complaint, method: :delete, data: { confirm: 'Are you sure?' } %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
