<p id="notice"><%= notice %></p>

<h1>Complaints</h1>

<table class="table table-striped">
  <thead>
    <tr>
      <th>#</th>
      <th>User Email</th>
      <th>Content</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @complaints.each_with_index do |complaint, index| %>
      <tr>
        <th scope="row"><%= index+1%></th>
        <td><%= complaint.user_email %></td>
        <td><%= complaint.content %></td>
        <td><%= link_to 'Edit', edit_complaint_path(complaint) %> <%= link_to 'Destroy', complaint, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>
