<p id="notice"><%= notice %></p>

<h1>Complaints</h1>
<%= link_to 'New Complaint', new_complaint_path, class: "btn btn-primary" %>

<table class="table table-striped table-responsive">
  <thead>
    <tr>
      <th>User email</th>
      <th>Content</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @complaints.each do |complaint| %>
      <tr>
        <td><%= complaint.user_email %></td>
        <td><%= complaint.content %></td>
        <td><%= link_to 'Show', complaint %></td>
        <td><%= link_to 'Edit', edit_complaint_path(complaint) %></td>
        <td><%= link_to 'Destroy', complaint, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

